In [1]:
import sqlite3 
import pandas as pd

In [2]:
con = sqlite3.connect("sqlite_db_pythonsqlite.db")
cur = con.cursor()

In [3]:
query_1 = '''
select name, sum(rev) as total_revenue 
from (select f.name,  
       CASE when b.memid != 0 then f.membercost*b.slots 
            else f.guestcost*b.slots end as rev
from Facilities as f 
inner join Bookings as b
on b.facid = f.facid) as sub
group by sub.name
having sum(rev) < 1000
order by total_revenue;
'''
cur.execute(query_1)

print("{0:10s} \t {1:10s}".format('Facility', 'Total Rev'))
for res in cur.fetchall():
    print("{0:10s} \t {1:.2f}".format(*res))

Facility   	 Total Rev
Table Tennis 	 180.00
Snooker Table 	 240.00
Pool Table 	 270.00

In [4]:
query_2 = '''
SELECT firstname, surname, (SELECT firstname from Members as m2 where m2.memid = m1.recommendedby and m1.recommendedby != 0) as Reco_firstname, (SELECT surname from Members as m2 where m2.memid = m1.recommendedby and m1.recommendedby != 0) as Reco_surtname
FROM Members as m1
WHERE memid != 0
ORDER BY surname, firstname;
'''
cur.execute(query_2)

print("{0:10s} \t {1:10s} \t {2:10s} \t {3:10s}".format('Firstname', 'Surname', 'Rec. fname', 'Rec. surname'))
for res in cur.fetchall():
    try:
        print("{0:10s} \t {1:10s} \t {2:10s} \t {3:10s}".format(*res))
    except:
        print("{0:10s} \t {1:10s}".format(*res))

Firstname  	 Surname    	 Rec. fname 	 Rec. surname
Florence   	 Bader      	 Ponder     	 Stibbons
Anne       	 Baker      	 Ponder     	 Stibbons
Timothy    	 Baker      	 Jemima     	 Farrell
Tim        	 Boothe     	 Tim        	 Rownam
Gerald     	 Butters    	 Darren     	 Smith
Joan       	 Coplin     	 Timothy    	 Baker
Erica      	 Crumpet    	 Tracy      	 Smith
Nancy      	 Dare       	 Janice     	 Joplette
David      	 Farrell
Jemima     	 Farrell
Matthew    	 Genting    	 Gerald     	 Butters
John       	 Hunt       	 Millicent  	 Purview
David      	 Jones      	 Janice     	 Joplette
Douglas    	 Jones      	 David      	 Jones
Janice     	 Joplette   	 Darren     	 Smith
Anna       	 Mackenzie  	 Darren     	 Smith
Charles    	 Owen       	 Darren     	 Smith
David      	 Pinker     	 Jemima     	 Farrell
Millicent  	 Purview    	 Tracy      	 Smith
Tim        	 Rownam
Henrietta  	 Rumney     	 Matthew    	 Genting
Ramnaresh  	 Sarwin     	 Florence   	 Bader
Darren     	 Smith
Darren     	 Smith
Jack       	 Smith      	 Darren     	 Smith
Tracy      	 Smith
Ponder     	 Stibbons   	 Burton     	 Tracy
Burton     	 Tracy
Hyacinth   	 Tupperware
Henry      	 Worthington-Smyth 	 Tracy      	 Smith

In [5]:
query_3 = '''
SELECT f.name, count(*)
FROM Facilities as f
INNER JOIN Bookings as b
on b.facid = f.facid
where b.memid != 0
group by f.name;
'''
cur.execute(query_3)

print("{0:15s} \t {1:10s}".format('Facility', 'Usage'))
for res in cur.fetchall():
    print("{0:15s} \t {1:.2f}".format(*res))

Facility        	 Usage
Badminton Court 	 344.00
Massage Room 1  	 421.00
Massage Room 2  	 27.00
Pool Table      	 783.00
Snooker Table   	 421.00
Squash Court    	 195.00
Table Tennis    	 385.00
Tennis Court 1  	 308.00
Tennis Court 2  	 276.00

In [6]:
#concat(year(starttime), "-", month(starttime))
query_4 = '''
SELECT f.name, (strftime('%Y-%m', starttime)) as month_count, count(*) as usage_count
FROM Facilities as f
INNER JOIN Bookings as b
on b.facid = f.facid
where b.memid != 0
group by f.name, month_count;
'''
cur.execute(query_4)

print("{0:15s} \t {1:10s} \t {2:10s}".format('Facility', 'Month', 'Usage'))
for res in cur.fetchall():
    print("{0:15s} \t {1:10s} \t {2:.2f}".format(*res))

Facility        	 Month      	 Usage
Badminton Court 	 2012-07    	 51.00
Badminton Court 	 2012-08    	 132.00
Badminton Court 	 2012-09    	 161.00
Massage Room 1  	 2012-07    	 77.00
Massage Room 1  	 2012-08    	 153.00
Massage Room 1  	 2012-09    	 191.00
Massage Room 2  	 2012-07    	 4.00
Massage Room 2  	 2012-08    	 9.00
Massage Room 2  	 2012-09    	 14.00
Pool Table      	 2012-07    	 103.00
Pool Table      	 2012-08    	 272.00
Pool Table      	 2012-09    	 408.00
Snooker Table   	 2012-07    	 68.00
Snooker Table   	 2012-08    	 154.00
Snooker Table   	 2012-09    	 199.00
Squash Court    	 2012-07    	 23.00
Squash Court    	 2012-08    	 85.00
Squash Court    	 2012-09    	 87.00
Table Tennis    	 2012-07    	 48.00
Table Tennis    	 2012-08    	 143.00
Table Tennis    	 2012-09    	 194.00
Tennis Court 1  	 2012-07    	 65.00
Tennis Court 1  	 2012-08    	 111.00
Tennis Court 1  	 2012-09    	 132.00
Tennis Court 2  	 2012-07    	 41.00
Tennis Court 2  	 2012-08    	 109.00
Tennis Court 2  	 2012-09    	 126.00